@charset "UTF-8";

/*
 Paleta de cores
 verde: #49a09d
 Lilás: #5f2c82
*/

*{
    margin: 0px;
    padding: 0px;

}
div#imagem{
    display: block;
    background: #5f2c82 url(../imagens/metal.jpg) no-repeat;
    background-position: contain;
    background-position: left bottom;
    height: 200px;
    width: 200;
    
    border-radius: 20px;

    position: center center;
    
      
    
}
 